<h6><%= comments_counter(post.comments.length) %></h6>
<% post.comments.each do |comment| %>
  <div class="row">
    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
    <div class="large-10 columns"><p><%= comment.body %></p></div>
  </div>
<% end %>